*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd{
    transform-style: preserve-3d;
    height: 80vh;
    width: 30rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.shoe{
    padding-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 13rem;
    height: 13rem;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,121,107,1) 46%, rgba(215,255,0,1) 100%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.shoe img{
    z-index: 3;
    transition: all 0.75s ease;
}
.info h1{
    margin-top: 25%;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.75s ease;
}
.info h3{
    padding-top: 10%;
    text-align: center;
    color: rgb(54, 53, 53);
    font-weight: normal;
    font-size: 20px;
    padding: 0px 30px;
    transition: all 0.75s ease;
}
.pur{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: white;
    font-size: 27px;
    font-weight: 500;
    margin-top: 70px;
    padding: 7px 75px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,121,107,1) 0%, rgba(215,255,0,1) 100%);
    transition: all 0.75s ease;
}
